<mat-grid-list id=varplots cols="5" gutterSize="0px" rowHeight="500px">
    <mat-grid-tile id=chartA [colspan]="2" [rowspan]="1">
        <app-varplot defaultX="temp" defaultY="pres" defaultZ="psal"></app-varplot>
    </mat-grid-tile>
    <mat-grid-tile id=chartB [colspan]="2" [rowspan]="1">
        <app-varplot defaultX="time" defaultY="pres" defaultZ="doxy"></app-varplot>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-globe-scatter id="globe-scatter-chart"></app-globe-scatter>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list id=varplots cols="5" gutterSize="0px" rowHeight="500px">
    <mat-grid-tile id="prof-table" [colspan]="5" [rowspan]="1">
        <app-table></app-table>
    </mat-grid-tile>
</mat-grid-list>