<mat-grid-list id=varplots cols="12" gutterSize="0px" rowHeight="500px">
    <mat-grid-tile id=chartA [colspan]="6" [rowspan]="1">
        <app-varplot tag="A" width=600></app-varplot>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1">
        <app-globe-scatter id="globe-scatter-chart"></app-globe-scatter>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list id=varplots cols="12" gutterSize="0px" rowHeight="500px">
    <mat-grid-tile id=chartB [colspan]="12" [rowspan]="1">
        <app-varplot tag="B" width=1200></app-varplot>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list id=varplots cols="12" gutterSize="0px" rowHeight="500px">
    <mat-grid-tile id="prof-table" [colspan]="12" [rowspan]="1">
        <app-table></app-table>
    </mat-grid-tile>
</mat-grid-list>