#color-charts {
    height: 550px;
    width: 1400px;
}
#line-charts {
    height: 550px;
    width: 1250px;
}
#varplots {
    height: 550px;
    width: 100vw;
    min-width: 1440px;
}
.disclaimer {
    color: red;
}